* {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.box {
    border: 10px solid red;
    padding: 20px;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
