@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 20px;
    text-align: justify;
}

/* @supports (display: flex) {
    .wrapper {
        display: flex;
    }
}

.wrapper {
    display: block;
} */

/* @supports not (display: flex) {
    .wrapper {
        display: block;
    }
} */

@supports (display: flex) or (display: -webkit-flex) {
    .wrapper {
        display: flex;
    }
}

@supports (display: grid) and (display: inline-grid) {
    .wrapper {
        display: grid;
    }
}

.wrapper {
    display: block;
}
