@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.box {
    border: 10px solid #000;
    padding: 20px;
    height: 500px;
    width: 1000px;
}

h1 {
    font-size: 100px;
    color: transparent;
    font-weight: 800;
    background: url(../salman.jpeg) no-repeat;
    background-origin: padding-box;
}
