* {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.box {
    border: 1px solid #000;
    font-family: 'Orelega One', cursive;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    font-variant: small-caps;
    /* font-style: oblique; */
    padding: 10px;
    line-height: 30px;
}
