@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 20px;
}

/* OLD */
/* .wrapper #abc p,
.wrapper #xyz p {
    color: red;
} */

/* NEW 1 */
.wrapper :is(#abc, #xyz) p {
    color: red;
}

/* NEW 2 */
/* .wrapper :is(#abc, #xyz) :is(p, h1) {
    color: red;
} */
