.box {
    border: 2px solid red;
    outline: 3px solid green;
    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */
    /* padding: 10px; */
    /* padding: 10px 20px; */
    /* padding: 10px 20px 15px; */
    padding: 20px;
}
