* {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.box {
    border: 1px solid #000;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box.active {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
}
