@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #eee;
    padding: 20px;
}

.card {
    margin-top: 50px;
    width: 400px;
    height: 400px;
    background-color: green;
    border: 20px solid red;
    padding: 20px;

    border-image-source: url(../border-image.png);
    border-image-slice: 32;
    border-image-width: 32px;
    border-image-outset: 40px;
    border-image-repeat: round;
}
